{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}
{% block content %}
<div class="employees">
    <div class="container">
    {{ employees.startDate }}
        {% for employee in employees %}
        <div class="item">
            <div class = employeeDescriptions> {{ employee.user.firstName }}</div>
            <h3>{{employee.description}} {{employee.startDate}}</h3>
            <div class="meta">{{employee.user.firstName}} {{employee.user.lastName}} {{ employee.user.email }}</div>
            <div class="desc">
                <img class = employeePicture src =  " {{ employee.user.profileImagePath }}"/>
                <p>{{users.phone}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}