{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/apartments.css' %}">
{% endblock css %}
{% block content%}
<div class="container">
    <div class="apartment single">
        <div class="image">
            <img src="{{apartment.image}}" alt="">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="location">
                    <h2>{{apartment.address}}</h2>
                    <p>{{apartment.zip}}</p>
                    <p>{{apartment.city}}</p>
                    <p>{{apartment.country}}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="meta">
                    <p>{{apartment.type}} in {{apartment.location.region}}, {{apartment.location.city}}  </p>
                    <p>price: {{listing.price}}</p>
                    <p>Sold on the date: {{listing.price}}</p>

                 Agent: <img src="{{ agent.profileImagePath}}" alt="Image here" srcset="">
                    <p>AgentUserName: {{agent.username}}</p>
                    <p>Size: {{apartment.size}}</p>
                    <p>Rooms: {{apartment.rooms}}</p>
                    <p>Bathrooms: {{apartment.bathrooms}}</p>
                    <p>Constructed: {{apartment.timeOfConstruction}}</p>
                    <p>Registered: {{apartment.timeOfRegistration}}</p>
                    <p>Country: {{apartment.location.country}}</p>
                    <p>Zip: {{apartment.location.zip}}</p>
                    {%  for image in images %}
                        <img src="{{ image }}" alt="Image here" srcset="">
                    {%  endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}